<div style="color:red;text-align: center;">
		<H3>Erreur 404 !!</H3>
		<p> <h2> La page <b style="color: black">/{{nom}} </b> n'existe plus </h2></p>

</div>

<h3 style="text-align: center;">
		<p> Page d'accueil <a href="/"> Home</a></p>
	

</h3>