{% include 'header.twig' %}
{% include 'nav-bar.twig' %}

        <!-- Top content -->
        	
            <div class="inner-bg" >
                <div class="container" >
                    
                   <div class="row">
                   	
                   <div class="col-sm-12">
                   	<div class="tete">
                   	</div>
                   	<div class="description"></div>
                   	<table class="table table-bordered" id="vote_table">
								<thead>
					
										<tr id="head">
										</tr>
								</thead>
								  <tfoot>
										<tr id="foot">
										</tr>
										
									</tfoot>
								<tbody>
											<tr id="vote_zone">
													

										</tr>
								
								</tbody>
								</table>
                   </div>	

					<div class="col-sm-3">
                   	
                   </div>
                   </div>
                    
                </div>
            </div>
            
        </div>
{% include 'footer.twig' %}